*{
    margin: 0;
}

.price-grid {
    display: grid;
    grid-template-areas: 
        "coin-img"
        "coin-img"
        "coin-img"
        "price"
        "price";
    place-items:  center;
    height: 100%;
    width: 100%;
}

.price {
    grid-area: price;
    /* border: 1px solid; */
    height: 100%;
    width: 80%;
    display: grid;
    grid-template-areas: "price-tag";
    place-items:  center;
}
.price-tag {
    grid-area: price-tag;
    font-size: 47px;
    /* margin-top: -230px; */
}

@media only screen and (max-width: 600px) {
    .price-tag {
        grid-area: price-tag;
        font-size: 32px;
        margin-bottom: 20px;
    }
}

.coin-img {
    grid-area: coin-img;
    display: grid;
    place-items:  center;

}
img {
    height: 120px;
    width: 120px;
    margin-top: 40px;
}


/* d8d8d8  cor letra */
/* 909090  cor numero */

.currency {
    color: #d8d8d8;
}

.number {
    color: #909090;
}

.words {
    color: goldenrod;
    font-size: medium;
}
