<table mat-table [dataSource]="source" class="example-table mat-elevation-z2"
        matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
  <!-- Number Column -->
  <ng-container matColumnDef="Data">
    <th mat-header-cell *matHeaderCellDef>Data</th>
    <td mat-cell *matCellDef="let row">{{row.date}}</td>
  </ng-container>

  <!-- Title Column -->
  <ng-container matColumnDef="Valor">
    <th mat-header-cell *matHeaderCellDef>Valor</th>
    <td mat-cell *matCellDef="let row">{{row.bid}}</td>
  </ng-container>

  <!-- State Column -->
  <ng-container matColumnDef="Var(%)">
    <th mat-header-cell *matHeaderCellDef>Var(%)</th>
    <td mat-cell *matCellDef="let row">{{row.delta}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>