/* Page Grid */
.grid-container {
    display: grid;
    width: auto;
    height: 100vh;
    grid-template-areas:
            "side1 main main main side2";
}
/* @media only screen and (max-width: 600px) {
    .grid-container {
        grid-template-areas:
                "main";
    }
} */


.side1 {
    grid-area: side1;
}
.side2 {
    grid-area: side2;
}
.main {
    grid-area: main;

}

/* Main Content Grid */
.main-grid {
    display: grid;
    width: auto;
    height: auto;
    grid-template-areas: 
            "display"
            "form";
        
}
.display {
    grid-area: display;
    height: 40vh;
}
.form {
    grid-area: form;
    height: auto;
    width: 100%;
}
