/* Page Grid */
.grid-container {
    display: grid;
    width: auto;
    height: 100vh;
    grid-template-areas:
            "side1 main main main side2"
}

.side1 {
    grid-area: side1;

    background-color: grey;
}
.side2 {
    grid-area: side2;

    background-color: grey;
}
.main {
    grid-area: main;

}

/* Main Content Grid */
.main-grid {
    display: grid;
    width: auto;
    height: auto;
    grid-template-areas: 
            "display"
            "display"
            "display"
            "form";
        
}
.display {
    grid-area: display;
    height: 50vh;
    background-color: orangered;
}
.form {
    grid-area: form;
    height: auto;
    background-color: orange;
}
/* .table {
    grid-area: tablee;
    height: auto;
    background-color: blue;
} */