<div class="form-grid">
  <div class="form">
    <form (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Comparar entre períodos</mat-label>
        <mat-date-range-input [rangePicker]="rangePicker"l>
          <input matStartDate placeholder="Start date" [(ngModel)]="date1" name="begin">
          <input matEndDate placeholder="End date" [(ngModel)]="date2" name="end">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #rangePicker>
          <mat-date-range-picker-actions>
            <button mat-button matDateRangePickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDateRangePickerApply>Apply</button>
          </mat-date-range-picker-actions>
        </mat-date-range-picker>
      </mat-form-field>

      <button mat-raised-button type="submit" class="submit-btn">Buscar</button>
    </form>
  </div>

  <div *ngIf="requested" class="table">
    <app-table [source]="tableSource"></app-table>
  </div>
</div>